<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPL Tool</title>
</head>

<body>

    <header>
        <nav class="page__nav">
            <p>Home</p>
        </nav>
    </header>

    <main>
        <div class="main__top">
            <h1>Natural Language Processing Web Tool</h1>
            <form class="page__form">
                <input id="name" type="text" name="input" placeholder="Put the text here">
                <input type="submit" id="submit" name="submit" value="Submit">
            </form>
        </div>
        <div class="main__bottom">
            <h2>Form Results:</h2>
            <ul id="results"></ul>
        </div>
    </main>

    <footer class="page__footer">
        <h1 class="heading__section">Add me!</h1>
        <p class="contact__text"><a aria-label="Add me on GitHub" href="https://github.com/Bmg1612"
                class="contact">Github</a></p>
        <p class="contact__text"><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/"
                class="contact">Linkedin</a>
        </p>
    </footer>
</body>

</html>